@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

:root {
    --mainColor: #121926
}

body {
    background-color: var(--mainColor);
    font-family: "League Spartan", serif;
    color: white;
}